<!DOCTYPE html>
<html>
<head>
  <title>Adviser network</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div>

  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn-sm btn-success' %> |
      <%= link_to "Sing in", new_user_session_path, class: 'btn-sm btn-primary' %> |
      <%= link_to "Sin in with Linkedin", user_omniauth_authorize_path(:linkedin), class: 'btn-sm btn-primary' %>

      <!--<%= link_to user_omniauth_authorize_path(:linkedin) do %>-->
          <!--<%= image_tag('linkedin/small-default.png', alt: 'Sign in with Linkedin') %>-->
      <!--<% end %>-->

  <% end %>
</div>

<div class="row">
  <%= yield %>
</div>

</div>

</body>
</html>
